.header
  .header-parallax
.header-content
  .header-text-panel
    center
      h2.header-title Gestion Contable
      hr
      h3.header-subtitle Encuentra todo lo que necesita con JGUI y asociados

.container-fluid.white-1
  .container
    .row
      .col-xs-12
        p un monton de texto medio descriptivo
      .col-xs-12.col-sm-4
        p otras cosas
      .col-xs-12.col-sm-4
        p otras cosas
      .col-xs-12.col-sm-4
        p otras cosas

.container
  .row
    .col-xs-12.col-sm-6
      h4 Nuestros servicios
      .row
        .col-xs-3
          p icono
        .col-xs-9
          p texto
    .col-xs-12.col-sm-6



br
br
br
br
br

br
br
br
br
br

br
br
br
br
br
br
br
br

br
br
br

br
br
br

br
br
br

br
br
br

h1 asd
