.header
  .header-parallax
.header-content
  .header-text-panel
    center
      h2.header-title Gestion Contable
      hr
      h3.header-subtitle Encuentra todo lo que necesita con JGUI y asociados

br
br
br
br
br

br
br
br
br
br

br
br
br
br
br
br
br
br

br
br
br

br
br
br

br
br
br

br
br
br

h1 asd
